{{#if loggedIn}}
  <div id="blogcard">
    <div>
      <h3>Give your post a title:</h3>
      <input type="text" id="newbpt" />
    </div>
    <div>
      <h3>Begin your blog here:</h3>
      <textarea id="newbp" name="newbp" rows="15">
      </textarea>
      <br />
      <button id="submit">Submit</button>
    </div>
  </div>
  <script src="/js/newblog.js"></script>
{{else}}
  <p>please log in first</p>
{{/if}}