{{#if loggedIn}}
<div>
    <div>
     <label for="newbpt">Give your post a title:</label>
     <input type="text" id="newbpt">
    </div>
    <div>
     <label for="newbp">Begin your blog here:</label>
     <textarea id="newbp" name="newbp" rows="15" cols="90">
     </textarea>   
      <button id="submit">Submit</button>  
    </div>
</div>
<script src="/js/newblog.js"></script>
{{else}}
 <p>please log in first</p>
{{/if}}
 